/* Sets all the text color to red! */
@import "https://js.arcgis.com/4.24/@arcgis/core/assets/esri/themes/light/main.css";
#viewDiv {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

viewDiv {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.viewDiv {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}